In [30]:
import pandas as pd
TunisianPop=pd.read_csv("Tunisian Population Demographic/Population au 1er Juillet par tranche d'âge.csv",sep=";")
TunisianPop

,Title,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Population au 1er Juillet,10565704,10674420,10784255,10895219,11012486,11162666,11304483,11434994,11551448
1,00-04,853120,874510,896070,956823,974367,988341,1057906,1088951,1110872
2,05-09,815840,820930,824640,851267,850908,863155,893438,916643,941708
3,10-14,827884,815700,811610,813960,791382,802780,805398,817281,831261
4,15-19,953501,921120,888330,855652,829335,841295,801924,792875,787176
5,20-24,1043574,1035740,1017370,936059,927469,940659,887393,861121,835274
6,25-29,1373220,1017960,1025840,929613,936729,949863,920248,916112,908688
7,30-34,873107,898970,921880,959153,986023,999715,970488,946394,920850
8,35-39,738964,758410,781580,808081,818834,830323,886447,921113,946695
9,40-44,712572,711790,708850,720884,729493,739691,751607,764321,780749
10,45-49,655558,671350,684050,671498,684494,694052,694780,701261,708328
11,50-54,575877,593390,605570,628253,652073,661099,666469,667796,667817
12,55-59,444465,473190,497970,511531,536367,543798,579393,600718,618410
13,60-64,309624,330520,352350,408171,426367,432256,466135,480729,494972
14,65-69,246840,247920,252290,261433,262875,266496,311467,342140,371244
15,70-74,232295,228450,221750,218515,221153,224249,219781,219297,223272
16,75-79,149860,164710,172930,162458,167248,169619,170737,176061,180443
17,80 & +,108898,109090,114490,201851,212211,215276,220872,222181,223686

In [31]:
TunisianPop_transposed = TunisianPop.T
TunisianPop_transposed

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
Title,Population au 1er Juillet,00-04,05-09,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80 & +
2010,10565704,853120,815840,827884,953501,1043574,1373220,873107,738964,712572,655558,575877,444465,309624,246840,232295,149860,108898
2011,10674420,874510,820930,815700,921120,1035740,1017960,898970,758410,711790,671350,593390,473190,330520,247920,228450,164710,109090
2012,10784255,896070,824640,811610,888330,1017370,1025840,921880,781580,708850,684050,605570,497970,352350,252290,221750,172930,114490
2013,10895219,956823,851267,813960,855652,936059,929613,959153,808081,720884,671498,628253,511531,408171,261433,218515,162458,201851
2014,11012486,974367,850908,791382,829335,927469,936729,986023,818834,729493,684494,652073,536367,426367,262875,221153,167248,212211
2015,11162666,988341,863155,802780,841295,940659,949863,999715,830323,739691,694052,661099,543798,432256,266496,224249,169619,215276
2016,11304483,1057906,893438,805398,801924,887393,920248,970488,886447,751607,694780,666469,579393,466135,311467,219781,170737,220872
2017,11434994,1088951,916643,817281,792875,861121,916112,946394,921113,764321,701261,667796,600718,480729,342140,219297,176061,222181
2018,11551448,1110872,941708,831261,787176,835274,908688,920850,946695,780749,708328,667817,618410,494972,371244,223272,180443,223686

In [33]:
import plotly.express as px
fig=px.line(TunisianPop_transposed,x="Title",y=["2010","2011","2012","2013","2014","2015","2016","2017","2018"],text="Title")
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17] but received: Title